<div class="page">
  <h3>Technology Stack used to build this simple application</h3>
  <p>
    1. Server Side Programming Language : Java
  </p>
  <p>
    2. Server Side Programming Language Framework: Spring (Spring boot)
  </p>
  <p>
    3. Server : Embedded Tomcat server (Spring boot)
  </p>
  <p>
    4. Database: Embedded H2 Database
  </p>
  <p>
    5. UI / Browser Side Programming Langulage : Javascript / Typescript
  </p>
  <p>
    6. HTML & CSS
  </p>
  <p>
    7. Javascript Framework : Angular
  </p>
  <p>
    8. Charing and Visualizations : D3.js
  </p>
  <p>
    9. Build Tool: Maven
  </p>
  <p>
    10. Deployed On: AWS Cloud
  </p>
</div>