<div class="concepts-div">
  <h3>- Attempts were made to touch most important areas of software application develpment</h3>
  <h3>- Complete End-To-End Work flow of this application is achieved by using all the below concepts and many more</h3>
  <p>
    1. Rest API - Can be found in java package - com.mytekskills.demo.controller
  </p>
  <p>
    2. Data Structures Designed for live charting use case - Limited Size Linked List. Can be found in java package com.mytekskills.demo.datastructures
  </p>
  <p>
    3. Spring Scheduler - Can be found in java package - com.mytekskills.demo.service.impl
  </p>
  <p>
    4. Singleton Design Pattern - Can be found in java package - com.mytekskills.demo.utils with class name ending *SingletonHelper.java
  </p>
  <p>
    5. Spring Security
  </p>
  <p>
    6. Industry standard and Production Level Package Structure of java application - Maintaining proper packages for controller, service, utils, beans
  </p>
  <p>
    7. Spring Dependency Injection
  </p>
  <p>
    8. Database Management and Querying Abitlity : Currenlty used is H2 in memory Database, Standard SQL Querying language
  </p>
  <p>
    9. Data Base Connectivity : JDBC
  </p>
  <p>
    10. Database Design (Relational SQL Database) - Scripts to form a proper relational database structure from a flat csv structured database can be found in dbscripts.sql file or in DemoApplication class of java package - com.mytekskills.demo 
  </p>
  <p>
    11. Consuming Rest API's from Angular
  </p>
  <p>
    12. Beautiful D3 - Force Disjoint Chart - can be seen in ForceDisjointComponent in UI code Package
  </p>
  <p>
    13. Beautiful D3 - Hierarchial Barchart (diggable) - can be seen in HierBarchartComponent in UI code Package
  </p>
  <p>
    14. RealTime D3 chart - can be seen in LiveHealthComponent in UI code Package
  </p>
  <p>
    15. Scheduling jobs in Angular / Javascript
  </p>
  <p>
    16. Forming Simple SVG manually - can be seen in html file of ForceDisjoint Component in UI code Package
  </p>
  <p>
    17. Maven for Dependency management / Build packaging
  </p>
  <p>
    18. AWS (Amazon Web Services) : The Application is running on Amazon Web Services Centos Server
  </p>
</div>