
<h3>Time Taken to connect to https://www.google.com (past 1000 seconds data)</h3>
<h3> - X-Axis - Time interval in seconds, what ever is at 0 represents most recent connectivity test result, meaning 0 seconds before from now. If you see 1000, it means 1000 seconds before from now</h3>
<h3> - Y-Axis - Time taken to connect to the internet, Data refreshes every 10 seconds</h3>
<svg width="900" height="350" id="svg1" class="adjustSvg"></svg>

<h3>Time taken to Download the same file from internet over past 1000 seconds</h3>
<h3>Network's download speed chart (past 1000 seconds data)</h3>
<h3> - X-Axis - Time Interval in seconds, what ever is at 0 represents most recent speed test result, meaning 0 seconds before from now. If you see 1000, it means 1000 seconds before from now</h3>
<h3> - Y-Axis - Download speed observed in kbps, Data refreshes every 10 seconds</h3>
<svg width="900" height="350" id="svg2" class="adjustSvg"></svg>