<body>

    <h3 align="center">Organization ABC's Health Status Per Geographical Location</h3>
    <p class="test" align="center">Zoomable and Dragable Network chart | Smaller circles represent poorer health | Maximum health is 100 units and Minimum is 0</p>
    <svg x="100" width="400" height="110" class="adjustSvg">
         
        <g>
            <circle cx="20" cy="10" r="10" style="fill:#8cff66;" />
            <text x="35" y="13" font-family="Verdana" font-size="10" fill="black"> = World</text>
        </g>

        <g>
            <circle cx="100" cy="10" r="10" style="fill:#ffff66;" />
            <text x="115" y="13" font-family="Verdana" font-size="10" fill="black"> = Continent</text>
        </g>
        <g>
            <circle cx="200" cy="10" r="10" style="fill:#ff9999;" />
            <text x="215" y="13" font-family="Verdana" font-size="10" fill="black"> = Country</text>
        </g>
        <g>
            <circle cx="280" cy="10" r="10" style="fill:#3182bd;" />
            <text x="295" y="13" font-family="Verdana" font-size="10" fill="black"> = State</text>
        </g>
        <g>
            <circle cx="360" cy="10" r="10" style="fill:#fd8d3c;" />
            <text x="375" y="13" font-family="Verdana" font-size="10" fill="black"> = City</text>
        </g>

    </svg>
</body>
<svg></svg>