<div class="home">

    <h3>Welcome ! :-)</h3>

    <p>Hi There, I am Chandan Digumarthy</p>
    <p>I designed, built and deployed this website for my own purposes</p>
    <p>I am a very passionate software developer, so I though having my own website will be really cool and it helps me to consolidate and summarize highlights of my work and knowledge and keeps me updated in technology as well</p>
    <p>Let me talk about my skill set and technology stack that I work</p>
    
    <h3>Below is my Technology Stack</h3>
    <h4>- Server Side</h4>

    <p> - Java</p>
    <p> - Spring Framework</p>
    <p> - Hibernate</p>

    <h4>- Server Side (Data focussed / Bigdata / Data Pipelines related)</h4>

    <p> - Kafka</p>
    <p> - Spark</p>
    <p> - Hadoop</p>

    <h4>- Database Related</h4>

    <p> - SQL - Structured Query Language</p>
    <p> - Different SQL Databases: RDBMS, Timeseries Databases</p>
    <p> - Databases In particular: MySql, H2, Crate (crate.io), Oracle, MS-SQL etc</p>

    <h4>- UI / Client side / Browser</h4>

    <p> - Javascript</p>
    <p> - Typescript</p>
    <p> - Angular</p>
    <p> - D3.js</p>
    <p> - CSS</p>
    <p> - HTML</p>
    <p> - SVG</p>


    <h4>- Operating Systems</h4>

    <p> - Windows</p>
    <p> - Linux</p>
    
    <h4>- Scripting Languages</h4>

    <p> - Python</p>
    <p> - Shell</p>

    <br>
    <h3>Thanks for visiting :-) Proceed to take a look at different components on the side bar</h3>
    <h3>Have a great day / afternoon / evening / night and ultimately have a wonderful life which is filled with life :-)</h3>
    

</div>